:root{
    --squareSize: 100%;
}


*{
    box-sizing: border-box;
}


body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{ 
    width: 90vh;
    height: 90vh;
    background-color: black;
    display: flex; 
    align-items: stretch;
    justify-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
}

.container div{ 
    flex: 1 0 var(--squareSize);
}
